<div class="row">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-default" ng-click="newBot()">Add Bot</button>
    </div>
</div>
<div class="spacer"></div>
<div id="bot-list" ui-sortable="sortOpts" ng-model="bots">
    <div ng-repeat="bot in bots" class="bot-row moveable" ng-class="{ 'collapsed': !bot.expanded }" data-bot-id="{{bot._id}}">
        <div class="bot-collapse-expand clickable" ng-click="bot.expanded = !bot.expanded">
            <i class="glyphicon glyphicon-minus" ng-show="bot.expanded"></i>
            <i class="glyphicon glyphicon-plus" ng-hide="bot.expanded"></i>
        </div>
        <div class="bot-img-container">
            <img class="bot-img" ng-src="{{bot.imageUrl}}" ng-show="bot.imageUrl" />
            <button class="btn btn-sm btn-default" ng-hide="bot.isUser" data-toggle="modal" data-target="#edit-image-modal" ng-click="editBotImage(bot)">{{bot.imageUrl ? 'Edit' : 'Add'}} Image</button>
        </div>
        <div class="bot-body">
            <div class="row">
                <div class="col-md-9">
                    <form class="bot-title form-group" ng-submit="(editBotname = false) || save(bot)">
                        <div ng-hide="editBotname">
                            <h3 ng-class="{ clickable: !bot.isUser }" ng-click="editBotname = !bot.isUser">{{bot.botname}}</h3>
                        </div>
                        <div ng-show="editBotname">
                            <input
                                class="form-control"
                                type="text"
                                name="botname" id="botname-input"
                                placeholder="Bot Name"
                                ng-model="bot.botname"
                                ng-blur="editBotname = false"
                                focus-on="editBotname"
                            />
                            <input type="submit" ng-hide="true" />
                        </div>
                    </form>
                </div>
                <div class="col-md-3 text-right">
                    <button
                        type="button"
                        class="btn btn-sm"
                        ng-hide="bot.isUser"
                        ng-class="{ 'btn-default': !deleteHover, 'btn-danger': deleteHover }"
                        ng-mouseenter="deleteHover = true"
                        ng-mouseleave="deleteHover = false"
                        ng-click="delete(bot)">
                            <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <label ng-show="bot.isUser" class="bot-user-label">YOU</label>
                </div>
            </div>
            <form ng-submit="send(bot)" ng-show="bot.expanded">
                <div class="row form-group">
                    <div class="col-md-3">
                        <label>Post to</label>
                        <select class="form-control" name="type" id="type-select" ng-change="save(bot)" ng-model="bot.type" ng-model-options="{ debounce: 500 }">
                            <option ng-repeat="type in ['User', 'Channel', 'Group']" value="{{type | lowercase}}">{{type}}</option>
                        </select>
                    </div>

                    <div class="col-md-4" ng-show="bot.type == 'user'">
                        <label>Users</label>
                        <select
                            name="user" id="user-select"
                            class="form-control"
                            ng-model="bot.channel"
                            ng-change="save(bot)"
                            ng-model-options="{ debounce: 500 }"
                            ng-options="id as user.name for (id, user) in users">
                        </select>
                    </div>

                    <div class="col-md-4" ng-show="bot.type == 'user'">
                        <label>Post to slackbot or IM?</label>
                        <label class="radio-inline">
                            <input
                                type="radio"
                                name="userChannel"
                                ng-checked="bot.postAsSlackbot"
                                ng-click="(bot.postAsSlackbot = true) || save(bot)"
                            />slackbot
                        </label>
                        <label class="radio-inline">
                            <input
                                type="radio"
                                name="userChannel"
                                ng-checked="!bot.postAsSlackbot"
                                ng-click="(bot.postAsSlackbot = false) || save(bot)"
                            />IM
                        </label>
                    </div>

                    <div class="col-md-4" ng-show="bot.type == 'channel'">
                        <label>Channels</label>
                        <select
                            name="channel" id="channel-select"
                            class="form-control"
                            ng-model="bot.channel"
                            ng-change="save(bot)"
                            ng-model-options="{ debounce: 500 }"
                            ng-options="id as channel for (id, channel) in channels">
                        </select>
                    </div>

                    <div class="col-md-4" ng-show="bot.type == 'group'">
                        <label>Groups</label>
                        <select
                            name="group" id="group-select"
                            class="form-control"
                            ng-model="bot.channel"
                            ng-change="save(bot)"
                            ng-model-options="{ debounce: 500 }"
                            ng-options="id as group for (id, group) in groups">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <label>Message</label>
                        <input
                            class="form-control"
                            type="text"
                            name="message" id="message-input"
                            placeholder="Enter message here..."
                            ng-model="bot.message"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="clickable text-muted" ng-click="bot.attachments = {}"  ng-hide="bot.attachments"><em>Add attachment</em></p>
                        <p class="clickable text-muted" ng-click="bot.attachments = null" ng-show="bot.attachments"><em>Remove attachment</em></p>
                    </div>
                </div>
                <div ng-show="bot.attachments">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Image</label>
                            <div class="bot-attachment-img-container">
                                <img class="bot-img" ng-show="bot.attachments.imageUrl" ng-src="{{bot.attachments.imageUrl}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#edit-image-modal" ng-click="editAttachmentImage(bot)">{{bot.attachments.imageUrl ? 'Edit' : 'Add'}} Image</button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label>Image Fallback</label>
                            <input
                                class="form-control"
                                type="text"
                                name="fallback" id="fallback-input"
                                placeholder="Image fallback text..."
                                ng-model="bot.attachments.fallback"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
