.bot-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    h3 {
        margin: 0;
        display: inline-block;
    }
    input {
        font-size: 24px;
        line-height: 1;
        font-weight: 500;
        padding: 0;
        margin: 0;
        height: 28px;

        &, &:focus {
            border: 0;
            outline: none;
            box-shadow: none;
        }
    }
}

.bot-collapse-expand {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.bot-row {
    display: flex;
    background: #fff;
    flex-flow: row nowrap;
    border: 1px solid #8b8b8b;
    padding: 15px;
    box-shadow: 2px 2px 7px -3px;
    margin: 0 -15px 45px -15px;
    position: relative;

    &.collapsed {
        height: 62px;

        .bot-img-container {
            opacity: 0; // hack to maintain width while hidden
        }
    }
}

.bot-img-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    height: 255px;
}

.bot-img {
    max-height: 120px;
    max-width: 120px;
    margin-bottom: 25px;
}

.bot-user-label {
    font-size: 16px;
    padding: 5px;
    background-color: #dbdbdb;
    border-radius: 3px;
    color: #787878;
}

.bot-body {
    flex: 0 0 75%;
}
